h1{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

body{
    background: #1DB954;
}

.wrapper{
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px
}

.line-area{
    display: block;
    width: 70%;
    height: 5px;
    background: ;
    position: absolute;
    top: 49%;
    left: 15%;
}