h1{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

body{
    background: #1DB954;
}

.wrapper{
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px
}

.line-area{
    display: block;
    width: 70%;
    height: 5px;
    background: #262626;
    position: absolute;
    top: 20%;
    left: 15%;
}

.wrapper .timeline-area{
    height: 100px;
}

.single-item{
    width: 6%;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 70px;
    transition: width .5s;
    z-index: 1;
}

.single-item > span{
    height: 32px;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 100%;
    cursor: pointer;
}

.single-item > span:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: #000;
    margin: 0 auto 8px;
    border-radius: 50%;
}

.image-area{
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50%;
    width: 100%;
}

.image-area a{
    display: block;
    width: 100%;
    height: 100%;
}

.image-area a img{
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    border: 5px solid #fff;
}

.image-area a span{
    position: absolute;
    width: 250%;
    margin-left: -72%;
    bottom: 50px;
    left: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    font-weight: bold;
}

.image-area a span:after{
    margin-left: 5px;
}

.single-item.active{
    width: 10%;
}

.single-item.active .image-area{
    display: block;
}

.user-select-none.svg-container{
    bottom: -490px;
}
